.header{
    display: grid;
    grid-template-columns: 300px auto 200px;
    align-items: center;
    padding: 5px 20px;
    height: 60px;
    border-bottom: 1px solid lightgrey;
}

.header_logo{
    display: flex;
    align-items: center;
}

.header_logo img{
    width: 40px;
}

.header_logo span{
    font-size: 22px;
    margin-left: 2px;
    color: gray;
}

.header_search{
    display: flex;
    align-items: center;
width: 700px;
background-color: whitesmoke;
padding: 9px;
border-radius: 10px;
}

.header_search input{
    background-color: transparent;
    border: 0;
    outline: 0;
    flex: 1;
}


.header_icons{
    display: flex;
    align-items: center;

}



.header_icons .material-icons{
    color:black;
    margin: 0px 20px;
}




